.tiktok{
    background-image: url('images/brands/tiktok.svg');
    background-repeat: no-repeat;

 
    
  
   }
   .instagram{
    background-image: url('images/brands/instagram.svg');
    background-repeat: no-repeat;
    

    
  
   }


   .youtube{
    background-image: url('images/brands/youtube.svg');
    background-repeat: no-repeat;
   
    
  
   }
